.body-font {
  font-family: Cabin, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #5f5f58;
  font-size: 14px;
}
.header-font {
  font-weight: 700;
  line-height: 1.2;
  color: #1d1d1b;
}
/* Utilities */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.clear {
  clear: both;
}
/* Reset */
body,
.account-masthead,
.masthead,
[role="main"],
.main,
.site-footer {
  background-image: none;
  background-color: inherit;
}
html,
.site-footer {
  background-color: #ffffff;
}
body {
  font-family: Cabin, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #5f5f58;
  font-size: 14px;
  background-color: #fff;
  overflow-x: hidden;
}
[role="main"],
.main {
  padding: 0;
  min-height: 0;
}
input,
button,
select,
textarea {
  font-family: Cabin, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #5f5f58;
  font-size: 14px;
}
/* General Styles */
a {
  color: #7d1a5a;
}
a:hover,
a:focus {
  color: #ec008c;
  text-decoration: none;
}
.btn {
  background-color: #1d1d1b;
  border-color: #1d1d1b;
  color: #ffffff;
  transition: background-color 0.2s ease-in 0s;
  background-image: none;
  text-shadow: none;
}
.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: #0c0c08;
  border-color: #0c0c08;
}
.btn.btn-primary {
  background-color: #ec008c;
  border-color: #ec008c;
  color: #ffffff;
  transition: background-color 0.2s ease-in 0s;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  color: #ffffff;
  background-color: #c80077;
  border-color: #c80077;
}
.btn.btn-success {
  background-color: #2db55d;
  border-color: #2db55d;
  color: #ffffff;
  transition: background-color 0.2s ease-in 0s;
}
.btn.btn-success:hover,
.btn.btn-success:focus {
  color: #ffffff;
  background-color: #18a74a;
  border-color: #18a74a;
}
.pill {
  background-color: #7d1a5a;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
  color: #1d1d1b;
}
/* Header */
.account-masthead {
  background-color: #1d1d1b;
}
.account-masthead .account ul li {
  border: none;
}
.account-masthead .account ul li a {
  color: #ffffff;
  font-weight: normal;
  font-size: 12px;
}
.account-masthead .account ul li a:hover {
  background-color: #1d1d1b;
  color: #ffffff;
}
.account-masthead .account i {
  display: none;
}
.account-masthead .account .notifications a span,
.account-masthead .account .notifications a:hover span {
  background-color: transparent;
  font-size: 12px;
}
.account-masthead .account .notifications a span.badge,
.account-masthead .account .notifications a:hover span.badge {
  display: none;
}
.account-masthead .account .notifications.notifications-important a span {
  background-color: transparent;
}
.account-masthead .account .notifications.notifications-important a span.badge {
  background-color: #ec008c;
  height: 20px;
  min-width: 10px;
  padding: 0 5px;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
  margin: 0;
  display: inline-block;
}
.account-masthead .account.authed .image img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.masthead {
  font-size: 18px;
}
.masthead a {
  color: #1d1d1b;
}
.masthead a.logo {
  height: 34px;
  display: inline-block;
  background-color: #7d1a5a;
  margin: 20px 0;
}
.masthead a.logo img {
  height: 100%;
}
.masthead .navigation {
  margin: 10px 0 0 0;
}
.masthead .navigation .nav-pills > li > a {
  border-radius: 0;
  border: solid 1px #ffffff;
  margin: 2px 0 2px 5px;
}
.masthead .navigation .nav-pills > li > a:hover,
.masthead .navigation .nav-pills > li > a:focus {
  background-color: #ffffff;
  border-color: #7d1a5a;
}
.masthead .navigation .nav-pills > li.active > a {
  background-color: #7d1a5a;
  border-color: #7d1a5a;
}
.masthead .site-search {
  display: none;
}
/* toolbar */
.toolbar {
  background-color: #7d1a5a;
  margin: 0 -9999rem;
  padding: 15px 9999rem;
  color: #ffffff;
}
.toolbar .breadcrumb > li {
  text-shadow: none;
}
.toolbar .breadcrumb > li a {
  color: #ffffff;
}
/* content */
[role="main"] .wrapper {
  border: none;
  border-radius: 0;
  box-shadow: none;
  position: relative;
  margin: 0;
  background-position: -7px top;
}
[role="main"] .wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 9600px;
  right: 100%;
  background-color: #f6f5f7;
  display: block;
}
[role="main"] .wrapper.no-nav:before {
  display: none;
}
[role="main"] .wrapper.no-nav .module-content {
  padding-left: 0;
  padding-right: 0;
}
[role="main"] .wrapper .module-content.page-header {
  background-color: #f6f5f7;
  border-radius: 0;
  margin-left: -9999rem;
  padding-left: 9999rem;
  margin-right: -9999rem;
  padding-right: 9999rem;
}
[role="main"] .wrapper .module-content.page-header .content_action {
  margin-right: 0;
}
[role="main"] .wrapper .primary {
  width: 696px;
}
[role="main"] .wrapper .primary .module-content {
  padding-left: 0;
  padding-right: 0;
}
[role="main"] .wrapper .primary .module-content.page-header {
  margin-left: -26px;
  padding-left: 1px;
  padding-right: 9999rem;
}
[role="main"] .wrapper .secondary {
  padding-top: 20px;
  padding-bottom: 10px;
}
[role="main"] .wrapper .secondary .module-heading {
  background-color: transparent;
}
[role="main"] .wrapper .secondary .nav-facet .nav-item > a:hover:after {
  background-image: none;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  content: "\F055";
}
[role="main"] .wrapper .secondary .nav > li > a {
  color: #5f5f58;
}
[role="main"] .wrapper .secondary .nav > li > a:hover,
[role="main"] .wrapper .secondary .nav > li > a:focus {
  background-color: rgba(0, 0, 0, 0.04);
}
[role="main"] .wrapper .secondary .nav-item.active > a,
[role="main"] .wrapper .secondary .nav-aside li.active a,
[role="main"] .wrapper .secondary .nav-facet .nav-item.active > a,
[role="main"] .wrapper .secondary .nav-facet .nav-aside li.active a,
[role="main"] .wrapper .secondary .nav-item.active > a:hover,
[role="main"] .wrapper .secondary .nav-aside li.active a:hover {
  background-color: #ffffff;
  color: #5f5f58;
}
[role="main"] .wrapper .secondary .nav-item.active > a:before,
[role="main"] .wrapper .secondary .nav-aside li.active a:before,
[role="main"] .wrapper .secondary .nav-facet .nav-item.active > a:before,
[role="main"] .wrapper .secondary .nav-facet .nav-aside li.active a:before,
[role="main"] .wrapper .secondary .nav-item.active > a:hover:before,
[role="main"] .wrapper .secondary .nav-aside li.active a:hover:before {
  background-image: none;
  background-color: #7d1a5a;
  left: -6px;
  right: auto;
}
[role="main"] .wrapper .secondary .nav-facet .nav-item.active > a:after,
[role="main"] .wrapper .secondary .nav-facet .nav-aside li.active a:after {
  background-image: none;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  content: "\F057";
}
[role="main"] .wrapper .module .read-more {
  color: #5f5f58;
  font-weight: normal;
  font-size: 12px;
}
/* media grid */
.media-grid {
  background: none;
  border: none;
  margin: 0 0 0 -30px;
}
.media-grid .media-item {
  border-radius: 0;
  float: left;
  margin: 10px 0 10px 30px;
  padding: 0;
  position: relative;
  width: 212px;
}
.media-grid .media-item a {
  display: block;
}
.media-grid .media-item a .image {
  display: block;
  height: 128px;
  background-position: center center;
  background-size: cover;
  text-indent: -99999px;
  overflow: hidden;
}
.media-grid .media-item a .media-heading {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 15px;
  color: #7d1a5a;
}
.media-grid .media-item a p {
  display: none;
}
/* footer */
.site-footer {
  color: #5f5f58;
  padding: 30px 0;
  border-top: solid 1px #dbdae2;
}
.site-footer a {
  color: #5f5f58;
}
.site-footer .footer-links ul {
  width: auto;
}
.site-footer .footer-links ul li {
  display: inline-block;
  line-height: 33px;
  vertical-align: middle;
}
.site-footer .footer-links ul li a {
  border-right: solid 1px #5f5f58;
  padding-right: 5px;
  margin-right: 4px;
}
.site-footer .footer-links ul li:last-of-type a {
  border: none;
}
.site-footer .attribution {
  text-align: right;
  line-height: 33px;
}
.site-footer .attribution span {
  display: inline-block;
  height: 33px;
  vertical-align: middle;
  padding-right: 10px;
  padding-left: 35px;
}
.site-footer .attribution .ckan-footer-logo {
  height: 33px;
  margin-top: 0;
  width: 97px;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}
.site-footer .attribution .salford-footer-logo {
  background-image: url(../../../../base/images/salford-logo-footer.png);
  width: 161px;
  height: 35px;
  display: inline-block;
  background-size: contain;
  vertical-align: middle;
}
/* Home */
.homepage h2 {
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  color: rgba(29, 29, 27, 0.5);
  margin: 20px 0 5px 0;
}
.homepage .welcome {
  background-color: #7d1a5a;
  color: #ffffff;
  padding: 60px 0 50px 0;
}
.homepage .welcome .page-heading {
  border-bottom: solid 2px #ec008c;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #ffffff;
}
.homepage .welcome p {
  font-size: 20px;
  line-height: 1.3;
}
.homepage .search-form {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: #dbdae2;
}
.homepage .twitter {
  background-color: #dbdae2;
}
.homepage .twitter .carousel {
  margin-bottom: 0;
}
.homepage .twitter ul.carousel-inner {
  padding-top: 35px;
  margin: 0;
  height: 70px;
}
.homepage .twitter .user {
  float: left;
  height: 36px;
  width: 230px;
}
.homepage .twitter .user a {
  color: #5f5f58;
}
.homepage .twitter .user span {
  display: block;
  line-height: 1.2;
}
.homepage .twitter .user span[data-scribe="element\3Aname"] {
  font-size: 16px;
  font-weight: bold;
}
.homepage .twitter .user img {
  width: 36px;
  height: 36px;
  float: left;
  margin-right: 15px;
}
.homepage .twitter .tweet {
  margin-left: 240px;
  margin-right: 30px;
}
.homepage .twitter .timePosted {
  display: none;
}
.homepage .twitter .interact {
  position: absolute;
  top: -8px;
  right: 0;
}
.homepage .twitter .interact a {
  display: block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}
.homepage .twitter .interact a:before {
  display: block;
  text-align: center;
}
.homepage .twitter .interact a.twitter_reply_icon:before {
  content: "\F064";
}
.homepage .twitter .interact a.twitter_retweet_icon:before {
  content: "\F079";
}
.homepage .twitter .interact a.twitter_fav_icon:before {
  content: "\F005";
}
