<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('What are Groups?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
      'Groups' are a way of organising datasets into topics as a simple way of helping people to find similar/related datasets. Datasets can be assigned to more than one group where the data relates to multiple topics. Users can either browse by 'group,' or refine search results by 'group'.
      {% endtrans %}
    </p>
  </div>
</div>
