<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('What are Organizations?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
Each dataset will belong to an organisation who is responsible for managing it. Members of these organisations can request to become authorised users with the ability to add, edit and/or publish datasets on the organisations behalf.      
      {% endtrans %}
    </p>
  </div>
</div>
